.abe-hint.help-block {
  font-style: italic;
  font-size: 12px;
  color: #ccc;
  margin: 0px 0px 5px 0px;
  border: 1px solid #ccc;
  border-radius: 3px;
  display: block;
  padding: 5px 5px 2px 5px;
  margin-top: -18px;
  border-radius: 3px;
  border-top: 0px;
  line-height: 20px;
}

.abe-hint.help-block .glyphicon {
  color: #5bc0de;
  margin-right: 5px;
}